.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: transform var(--transition-fast);
}

.btn__icon {
  transform: translateX(4px);
}

