.about__experience {
  position: absolute;
  top: 30px;
  left: -30px;
  background: var(--color-primary);
  color: var(--color-white);
  padding: var(--spacing-lg);
  border-radius: var(--radius-lg);
  text-align: center;
  box-shadow: var(--shadow-lg)
}