.blog__grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-2xl)
}

@media (max-width: 992px) {
    .blog__grid {
        grid-template-columns:repeat(2, 1fr)
    }
}

@media (max-width: 576px) {
    .blog__grid {
        grid-template-columns:1fr
    }
}