.blog__notice-decoration {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: floatDecoration 6s ease-in-out infinite;
}

.blog__notice-decoration--left {
    top: -50px;
    left: -50px;
}

.blog__notice-decoration--right {
    right: -30px;
    bottom: -60px;
    width: 120px;
    height: 120px;
    animation-delay: -3s;
}


@keyframes floatDecoration {
    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(10px, 10px) scale(1.1);
    }
}