.blog__notice-sparkle {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 1rem;
    animation: sparkle 1.5s ease-in-out infinite;
}

@keyframes sparkle {
    0%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2) rotate(15deg);
    }
}