.about__grid {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: var(--spacing-4xl);
  align-items: center
}

@media (max-width: 992px) {
  .about__grid {
    grid-template-columns:1fr;
    gap: var(--spacing-3xl)
  }
}